<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS/error404.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.3up.dk/in-view@0.6.1"></script>
    <title>Blog | {{title}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="xs-12 md-6 mx-auto">
                <div id="countUp">
                    <div class="number" data-count="404">0</div>
                    <div class="text">Page not found</div>
                    <div class="text">This may not mean anything.</div>
                    <div class="text">I'm probably working on something that has blown up.</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/JS/error404.js"></script>

</html>